* {
	margin:0;padding:0;
}

body {
	background:#102D60;
}

#btn:hover {
	background:#286128;
}

#show li {
	list-style:none;
	line-height:20px;
	text-indent:10px;
	background:#ddd;
	margin-top:5px;
}

#show li:hover .delete {
	opacity:1;
	width:50px;
}

#show li .delete {
	display:inline-block;
	float:right;
	width:0px;
	text-align:center;
	text-indent:0;
	color:#fff;
	background:#E82528;
	opacity:0;
	transition:0.3s;
}

#show li .delete:hover {
	background:#C82325;
	cursor:pointer;
}