* {
	margin:0;
	padding:0;
}

body {
	width:100vw;
	height:100vh;
	background:#02669F;
	display: flex;
	justify-content: center;
	align-items: center;
}


.main {
	background:#C7DBE7;
	border-radius:10px;
	padding:40px;
}

#time {
	font-size:50px;
	font-family: sans-serif;
}