* { margin:0;padding:0; }
body { background:#444; }
#textBox { width:70%;margin:50px auto;min-height:50px;border-radius:10px;padding:10px;background:#333;color:lime;font-size:20px;word-break:break-all; }
