* { margin:0;padding:0; }
body { position: fixed;width: 100%;height: 100%;background: #a0a05e; }
button { border-color: #666;outline: none;box-shadow: none; }

.input-group { padding:10px 10px 0; }
.input-group #inputData { height:40px;background:#fff;text-align:right;font-size:18px;padding:5px; }

.container { margin:50px auto 0;width:400px;background:#555; }
.button-group { display:flex;flex:1;flex-direction:row;padding:10px; }
.delete-button-text { color:#fd5819; }
.wrapper { display:flex;flex:1;flex-direction:column; }
.top-sign { display:flex;flex:1;flex-direction:row;justify-content:space-between; }

.top-sign button, 
.numbers button { width:33%;height:80px;font-size:25px;margin-bottom:3px; }
.numbers { display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between; }
 
.numbers button.zero { width:66.5%; }
.right-sign { width:25%; }
.right-sign button { width:100%;height:80px;font-size:25px;margin-bottom:3px; }
.right-sign button.result-button { background:lime;color:#fff; }

